extends ../layouts/default

block intro
  h3 Contact Us

block content
  if enquirySubmitted
    h3 Thanks for getting in touch.
  else
    .row: .col-md-12
      p.text-justify Our preferred method of contact is via EMAIL. For all enquiries simply fill out the form below and click submit. We aim to respond to you ASAP. If you would like to speak to us over the phone, please call 00447872925763 Monday - Friday 9am - 5pm (UK Time).
      p.text-justify Alternatively, you can email <a href='mailto:sales@industrialprocesscontrol.co.uk' target='_blank'>sales@industrialprocesscontrol.co.uk</a>
      form(method='post')
        input(type='hidden', name='action', value='contact')
        .form-group(class=validationErrors.name ? 'has-error' : null)
          label Name
          input(type='text', name='name.full', value=formData['name.full']).form-control
        .form-group
          label Phone Number
          input(type='text', name='phone', value=formData.phone, placeholder='(optional)').form-control
        .form-group(class=validationErrors.email ? 'has-error' : null)
          label Email Address
          input(type='email', name='email', value=formData.email).form-control
        .form-group(class=validationErrors.message ? 'has-error' : null)
          label Your query
          textarea(name='message', placeholder='Leave us a message...' rows=4).form-control= formData.message
        .form-actions
          button(type='submit').btn.btn-primary Send
